@font-face {
  font-family: "Helvetica Inserat LT";
  src: url('../locale-fonts/Helvetica Inserat LT.ttf');
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #fff;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-wrapper {
  width: 100%;
  max-width: 1280px;
  min-width: 800px;
  margin: 0 auto;
}

#logo-wrapper {
 position: fixed;
 top: 83px;
 left: 0;
}

.header {
  width: 100%;
  float: left;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  background: #ccc;
}

.header-top {
  width: 100%;
  height: 65px;
}

/*======main nav start=======*/
.main-nav {
  width: 70%;
  float: left;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 2px;
  position: relative;
  background: #666;
}

#caret-menu {
  display: none;
  position: absolute;
  right: 11px;
  top: 15px;
}

.main-nav ul li:hover #caret-menu {
  display: block;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li:hover .submenu {
  display: block;
}

.main-nav ul li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.main-nav ul li:hover {
  background: #000;
}
/* submenu start */
.main-nav .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  width: 148px;
  background: #000;
  padding: 4px;
  z-index: 1;
}

.main-nav ul .submenu li {
  list-style: none;
  width: 100%;
  margin-right: 0;
  border-bottom: 1px solid #808080;

}

.main-nav ul .submenu li:last-child {
  border-bottom: none;
}

.main-nav ul .submenu li a {
  display: block;
  text-decoration: none;
  background: #000;
  padding: 5px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  height: auto;
}
/* submenu end */
/*======main nav end=======*/

.flags-wrapper {
  float: right;
}

.flags-wrapper img {
  float: left;
  margin-left: 4px;
  opacity: 0.8;
}

.flags-wrapper img:hover {
  opacity: 1;
}

.flags-wrapper .active-flag {
  opacity: 1;
}

/*======main content start=======*/
.main-content-wrapper {
  width: 100%;
}

.main {
  float: left;
  width: calc(70% - 10px);
  background: #ccc;
  padding: 10px;
}

.main-info {
  width: 100%;
  background: #515151;
  min-height: 817px;
}

.title {
  font-size: 48px;
  width: calc(100% - 36px);
  font-family: "Helvetica Inserat LT";
  float: left;
  margin: 0 18px;
  border-bottom: 1px solid #000;
  position: relative;
}

.title h1 {
  font-size: 48px;
}

.title:after {
  background: none;
  border-bottom: 1px solid #7a7a7a;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  pointer-events: none;
}

.page-info-wrapper {
  padding: 16px 24px;
  float: left;
  background: #515151;
}

.page-info-wrapper .page-info {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 25px;
  text-indent: 35px;
}

.right-bar {
  background: #a3a3a3;
  float: right;
  width: 30%;
  padding: 10px;
}

.accordeon-wrapper {
  width: 100%;
  min-height: 817px;
  background: #515151;
  padding: 10px;
}

.sidebar-accordeon {
  width: 100%;
  background: #000;
}

.accordeon-box {
  width: 100%;
  padding: 16px 11px 13px 11px;
  border-bottom: 1px solid #515151;
}

.tab-hidden {
  display: none;
}

.tab-heading {
  cursor: pointer;
  font-size: 12px;
  position: relative;
}

.tab-heading img {
  position: absolute;
  right: 0;
  top: 10px;
}

.tab-content {
  font-size: 12px;
  margin-top: 26px;
  margin-bottom: 10px;
}
/*======main content end=======*/

/*======footer start========*/
.footer {
 float: left;
 width: 100%;
 height: 43px;
 line-height: 43px;
 margin: 10px 0;
 padding: 0 19px;
 background: #ccc;
}

.copyrights {
  float: left;
  line-height: 43px;
  color: #515151;
}

.footer-nav {
  float: right;
}

.footer-nav ul {
  padding: 0;
  margin: 0;
}

.footer-nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.footer-nav ul li a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #575757;
  text-transform: capitalize;
}
/*======footer end========*/

/*JS dropdown menu start*/
.main-nav .submenuJS {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  width: 148px;
  background: #000;
  padding: 4px;
  z-index: 1;
}

.main-nav ul .submenuJS li {
  list-style: none;
  width: 100%;
  margin-right: 0;
  border-bottom: 1px solid #808080;

}

.main-nav ul .submenuJS li:last-child {
  border-bottom: none;
}

.main-nav ul .submenuJS li a {
  display: block;
  text-decoration: none;
  background: #000;
  padding: 5px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  height: auto;
}
/*JS dropdown menu end test*/
